#map {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin-top: 0px;
	margin-bottom: 0px;
	overflow: hidden;
}

/* Marge de la carte leaflet */
.leaflet-top {
	padding-top : 20px;
}

.leaflet-bottom {
	padding-bottom : 20px;
}

.legend { 
        width: 170px;
        height: 170px;
    }
    
.control-label {
      text-align: center; /* Centrer le texte */
      display: block;
    }
    .irs-grid-text {
      font-size: 14px; /* Taille des annotations sous le curseur */
    }

.form-group-label {
           background-color: white;
           padding: 5px;
           border-radius: 3px


.leaflet-control-layers-list.leaflet-control-layers-scrollbar {
  height: 200px !important;
}

/* Absolute panel gauche de la carto */
#abspanel_map_left {
  /* Appearance */
  border-style: none;
  background-color: transparent;
  padding: 20px 0px 0px 20px;
  cursor: move;
  opacity: 0.9;
  zoom: 0.9;
  transition: opacity 500ms 1s;
}

#abspanel_palette {
  /* Appearance */
  border-style: none;
  background-color: transparent;
  padding: 20px 0px 0px 20px;
  cursor: move;
  opacity: 0.9;
  zoom: 0.9;
  transition: opacity 500ms 1s;
}
